<% if @artists.empty? %>
    <h1>You don't have any artists yet :( </h1>
<% else %>
    <h1>Artists that you have songs from</h1>

    <% @artists.each do |artist| %>
        <ul>
            <li><%= link_to "#{artist.name}", artist_path(artist.id) %></li>
        </ul>
    <% end %>
<% end %>