<div class="artists-index">
    <h1><%= @artist.name %></h1>

    <h3 class="songs">Albums you have from this artist</h3>

    <% @artist.albums.each do |album| %>
            <h2><%= link_to "#{album.name}", album_path(album.id) %></h2>
            <h4>Songs</h4>
            <% album.songs.each do |song| %>
                <ul>
                    <li><%= link_to "#{song.name}", song_path(song.id) %></li>
                </ul>
            <% end %>
    <% end %>

    <% if @artist.info %>
        <h4>Info</h4>
        <p><%= @artist.info %></p>
    <% end %>
</div>