<% if @songs.empty? %>
    <h1>You don't have any songs liked yet :( </h1>
    <h5 style="color: white;">You can add songs by either liking some of them on the home page or by feeding our database.</h5>
<% else %>

    <h1>Here are songs that you like</h1>

    <%= render 'index_songs' %>
<% end %>
