<div class="songs-index">
    <h1><%= @song.name %></h1>

    <h3>Artist</h3>
    <p><%= link_to "#{@song.artist.name}", artist_path(@song.artist.id) %></p>
    <h3>Album</h3>
    <li><%= link_to "#{@song.album.name}", album_path(@song.album.id) %></li>

    <div>
        <%= link_to 'Delete Song', song_path, :method => 'delete', :data => {:confirm => 'Are you sure?'}, class: 'btn btn-primary btn-block mb-4' %> 
    </div>
</div>