.img-logo {
    height: 6em;
}

.navbar-nav {
    gap: 1em;
    --bs-nav-link-padding-y: 0;
}

.navbar-collapse {
    justify-content: end;
}

.navbar {
    --bs-navbar-hover-color: #705775;
    font-weight: 500;
}

.bg-light {
    background-color: #737B88 !important;
}

body {
    background-color: #303447;
}